#h2 {
    color: #0f3e09;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: #550f0f;
    font-family: 'brush script MT';
    font-size: 50px;
    text-align: center;
}

div {
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns:auto auto auto;

}

.img-with-text {
    color: #611919; 
    font-style: italic;
    border-radius: 2rem;
    font-size: 1rem;
    background-color: blanchedalmond;
    justify-content: space-evenly;
}

.text {
    color: #9b5858;
}

@media (max-width: 480px) {
    .grid-container {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        text-align: center;
    }

   .img-with-text {
    font-size: 2rem;
    text-align:justify;
    grid-gap: 3rem;
    background-color: rgb(197, 168, 133);
   }

}
