h1 {
    color: #550f0f;
    font-family: 'brush script MT';
    font-size: 50px;
    text-align: center;
}

div {
    display: inline-block;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2px;
}

#h2 {
    color: #0f3e09;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}